*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
p{
    color: rgb(32, 32, 32);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.riw{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.raw{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rew{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around
}
.col-2{
    flex-basis:30%;
    min-width: 20%;    
}
.about{
    flex-basis:30%;
    min-width: 20%;    
}
.about h1{
    margin-top: 40px;
    margin-bottom: 40px;
}
.about p{
    margin-top: 40px;
}
.col-2 h1{
    background: linear-gradient(to right,rgb(255, 255, 255) , rgb(255, 208, 0) , rgb(255, 0, 0) , rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    animation: fade 1s ;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.col-2 img{
    max-width: 110%;
    padding: 200px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 h2{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background:#707070 ;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px ;
    transition: background 0.7s;
}
.btn:hover{
    background: #000000;
}
.header{
    background: radial-gradient(#fff,#707070);
}
.header .row{
    margin-top: 30px;
}
.categories{
    margin: 50px 0;
}
.col-90{
    flex-basis:30%;
    min-width: 20%;    
}
.col-90 img{
    max-width: 100%;
    padding: 120px 0;
}
.col-3{
    flex-basis: 25%;
    min-width: 300px;
    margin-bottom:100px ;
}
.col-3 img{
    width: 100%; 
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #707070;
}
.title::after{
    content: '';
    background: #000000;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555 ;
    font-weight: normal;
}
h5{
    font-size: 20px;
    color: #a91a1a;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-20px);
}
.offer{
    background: radial-gradient(#fff,#707070);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img {
    padding: 50px;
}
small{
    color: #555;
}
.col-2 h2{
    font-size: 60 px;
    line-height: 60px;
    margin: 25px 0;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 90px;
    margin-top: 40px;
    border-radius: 60%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #000000;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #555;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.footer{
    background:#000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h4{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    max-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
   width: 28px;
   margin-left: 20px; 
   display: none;
}

@media only screen and (max-width : 800px){
    nav ul{
        position: absolute;
        top: 90px;
        left:0;
        background: rgb(0, 0, 0);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .offer-img{
        width: 150px;
    }
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 100px;
}
select{
    border: 1px solid #000000 ;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #555;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #555;
    color: #fff;
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h2{
        font-size: 26px;
        line-height: 32px;
    }
}
.col-10 {
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
.col-10 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 
}
.col-10 p{
    text-align: center;
}
.wave-group {
    position: relative;
}
  
.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}
.wave-group .input:focus {
    outline: none;
}
.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}
  
.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}
  
.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
}
  
.wave-group .bar {
    position: relative;
    display: block;
    width: 400px;
}
.wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.wave-group .bar:before {
    left: 50%;
}
  
.wave-group .bar:after {
    right: 50%;
}
  
.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}
.wave-group{
    margin: 50px 0;
}
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h2{
    margin: 20px 0;
    
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 10px solid #000000;
}
.single-product .fa{
    color: #a91a1a;
    margin-left: 10px;
}
.para p{
    margin-top: 20px;
    text-align: center;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.contact h1{
   font-size: 60px;
   margin-bottom: 20px;
}
.contact {
    text-align: center;
    display: grid;
    margin-top: 20px;
    margin-bottom: 40px;
}
.about h1{
    font-size: 60px;
    margin-bottom: 20px;
 }
 .about {
     text-align: center;
     display: grid;
     margin-top: 20px;
     margin-bottom: 40px;
 }
.field{
	width: 25%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 40px;
	transition: .3s;
    display: block; 
    margin: 0 auto;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.right .btn{
	width: 10%;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.right .btn:hover{
    background-color: #929292;
}

.field:focus{
    border: 2px solid rgba(0, 0, 0, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 500px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
.wrapper {
    margin-bottom: 135px;
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: rgb(255, 255, 255);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px #fff;
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }  